.list-item {
  list-style-type: none;
  border-radius: 10px;
  height: 120px;
  width: 120px;
  background-color: #ffffff33;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.emoji-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.emoji-img {
  height: 80px;
}
